.lists {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 40rem;
  padding: 1rem;
}

.createList {
  display: flex;
}

.groupList {
  margin-top: 1rem;
  display: inline-flex;
  gap: 2rem;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.list {
  cursor: pointer;
  background-color: grey;
  width: 0;
  min-width: 10rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
