.title {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.content {
  font-size: 1.5rem;
}
