.project {
  width: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-flex;

  &:hover {
    background-color: rgba(147, 145, 145, 0.38);

    & > .iconBox {
      visibility: visible;
    }
  }
}

.isSelected {
  background-color: rgba(147, 145, 145, 0.38);
}

.nameBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 87%;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconBox {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.iconInfo:hover {
  color: blue;
}

.iconTrash:hover {
  color: red;
}
