.settings {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.iconBox {
  margin: 0 1rem;
}

.redirectionTitle {
  overflow: hidden;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}
